
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --black--color:rgb(37, 36, 36);
  --whit--color:white;
}

body{
    background-color: var(--black--color);
    color:var(--whit--color);
}
